.CartItem {
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
    margin: 5px;
    border: 1px solid grey;
    border-right: none;
    border-left: none;

    .item-image {
        width: 10%;
        height: 100px;
    }

    button {
		color: white;
		height: 30px;
		width: 10%;
		border-radius: 5px;
		border: none;
		background-color: rgb(0, 0, 0);
	}
}
