* { padding: 0; margin: 0; }

.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg-home {
    background-image: url(../assets/jason-ortego-buF62ewDLcQ-unsplash.jpg); 
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    z-index: -1;
}
